<div class="formulario" style="padding:5%;">
    <div>
        
    </div>
    
    <div class="button">
        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" (click)="agregar()">Agregar</button>
      </div>
      
      <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Datos
                    <button class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>  
                <div class="modal-body">
                    <div>
                        <div>
                            
                        </div>
                        <form [formGroup]="personaForm" (ngSubmit)="confirmModal()">
                            <div class="form-group">
                                <label>ID Empleado</label>
                                <input type="text" formControlName="id" readonly class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" formControlName="nombre"  class="form-control" >
                            </div>
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                <input type="text" formControlName="apellidoPaterno" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                <input type="text" formControlName="apellidoMaterno" class="form-control">
                            </div>
                            
                            <div class="form-group">
                                <label>Puesto</label>
                                <input type="text" formControlName="puesto" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>RFC</label>
                                <input type="text" formControlName="rfc" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" formControlName="direccion" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Correo Electrónico</label>
                                <input type="text" formControlName="correoElectronico" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Cuenta Github</label>
                                <input type="text" formControlName="cuentaGithub" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Estado</label>
                                <input type="text" formControlName="estado" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input type="text" formControlName="ciudad" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Numero de Telefono 1</label>
                                <input type="text" formControlName="numero1" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Numero de Telefono 2</label>
                                <input type="text" formControlName="numero2" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input type="text" formControlName="password" class="form-control">
                            </div>
                            <div class="form-group" *ngIf="revelarSuper">
                                <label>Rol</label>
                                <input type="text" formControlName="rol" class="form-control">
                            </div>


                            <div class="form-group">
                                <label>Genero</label>
                            </div>
                            <div class="form-group">

                                <input type=radio id="radio1"  name="radio" value="Femenino" formControlName="genero" (click)="show=true" [(ngModel)]="value">
      
                                <label for="hombre">Femenino</label>
                                <br>
                                <input type=radio id="radio2"  name="radio" value="Masculino" formControlName="genero" (click)="show=true" [(ngModel)]="value">
                                <label for="mujer">Masculino</label>
                                <br>
                                <input type=radio id="radio3" name="radio" formControlName="genero" (click)="!show=false" [(ngModel)]="value">
                                <label for="otro">Otro</label>
                                <br>
                                <div class="form-group"  *ngIf="!show">
                                    <input type="text" id="inputgenero" formControlName="genero" class="form-control" placeholder="Especifique">
                                </div>
                                <br>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cancelar</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"  [disabled]="personaForm.invalid">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
    
      <div class="tabla1">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Puesto</th>
                    <th>RFC</th>
                    <th>Dirección</th>
                    <th>Correo Electónico</th>
                    <th>Cuenta Github</th>
                    <th>Estado</th>
                    <th>Ciudad</th>
                    <th>Numero de telefono 1</th>
                    <th>Numero de telefono 2</th>
                    <th>Contraseña</th>
                    <th>Genero</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <td><input class="form-control" type="text" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost"></td>
                    <td><input class="form-control"type="text" name="filterApellido" placeholder="Buscar..." [(ngModel)]="filterApellido"></td>
                    <td><input class="form-control"type="text" name="filterGenero" placeholder="Buscar..." [(ngModel)]="filterGenero"></td>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let item of personas | filtro:filterPost |apellido:filterApellido  | genero:filterGenero">
                    <td>{{item.nombre}}</td>    
                    <td>{{item.apellidopaterno}}</td>
                    <td>{{item.apellidomaterno}}</td>
                    <td>{{item.puesto}}</td>
                    <td>{{item.rfc}}</td>
                    <td>{{item.direccion}}</td>
                    <td>{{item.correoelectronico}}</td>
                    <td>{{item.cuentagithub}}</td>
                    <td>{{item.estado}}</td>
                    <td>{{item.ciudad}}</td>
                    <td>{{item.numero1}}</td>
                    <td>{{item.numero2}}</td>
                    <td>{{item.password}}</td>
                    <td>{{item.genero}}</td>
                    <td>{{item.rol}}</td>
                    <td> <button id="Eliminar" *ngIf="revelarSuper" class="trash">  <svg  type="submit"  (click)="deletModal(item)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg> </button > 
                    <button class="pencil"><svg   (click)="editar(item)" type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg></button></td>
                </tr>
            </tbody>
        </table>
      </div>
</div>

