<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="row">
		<div class="left ">
        <ul>
            <a>
                <li class="item-menu">
                    <span class="glyphicon glyphicon-home"></span> 
                    <span class="menu">Home</span>
                </li>
            </a> 
            <a href="usuario">
                <li class="item-menu">
                    <span class="glyphicon glyphicon-user"></span> 
                    <span class="menu">Usuarios</span>
                </li>
            </a>
            <a href="#">
                <li class="item-menu">
                    <span class="glyphicon glyphicon-briefcase"></span> 
                    <span class="menu">Empleados</span>
                </li>
            </a>    
            <a href="#">
                <li class="item-menu">
                    <label class="icologout"><span class="glyphicon glyphicon-log-out"></span> </label>
                    <span class="logout">Salir</span>
                </li>
            </a>  
            
            <li class="item-menu"> 
                 <span class="glyphicon glyphicon-search" ></span> <label class="espacio"> </label>
                 <input class="t_search" type="text" placeholder="Buscar...">
            </li>
        </ul>
    </div> <!-- end left -->
    </div>
<html>
    
</html>
<body class="body">
    
</body>
	
    
