<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <!-- Login Form -->
      <form>
        <div>ID Empleado</div>
        <input type="text" >
        <div>Nombre</div>
        <input type="text" >
        <div>Apellido Paterno</div>
        <input type="text" >
        <div>Apellido Materno</div>
        <input type="text" >
        <div>Puesto</div>
        <input type="text" >
        <div>RFC</div>
        <input type="text" >
        <div>Dirección</div>
        <input type="text" >
        <div>Correo electrónico</div>
        <input type="text" >
        <div>Cuenta de Github</div>
        <input type="text" >
        <div>Ciudad</div>
        <input type="text" >
        <div>Estado</div>
        <input type="text" >
        <div>Numero de Telefono 1</div>
        <input type="text" >
        <div>Numero de Telefono 2</div>
        <input type="text" >

        <input type="submit" class="fadeIn fourth" value="Guardar" (click)="navegar()" routerLink="/usuario" >
      </form>
    </div>
  </div>
  <nav></nav>